* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 32px;
    color: #fff;
   
}

.baner {
    background-image: url(../img/bg_banner.jpg);
    min-height: 927px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
/* линия*/
.line-r, .line-w {
    content: "";
    height: 4px;
    background: #c8235d;
    width: 110px;
    position: relative;
    top: 29px;
    text-align: center;
    display: inline-block;
}

.line-w {
    background: #fff;
}

a {
    color: #ffffff;
    text-decoration: none;
}

h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 56px;
}

li {
    list-style: none;
}
.header__top {
    position: relative;
}

.header__top .menu {
    width: 50%;
    right: 10px;
    position: absolute;
    top: 67px;
    }
    .menuBurger {
        display: none;   /* иконка гамбургер скрыта */
      }
.logo {
    padding-top: 67px;
    font-size: 31px;
    font-weight: normal;
}

.menu__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu__list a {
    font-weight: 500;
}

.menu__list a:hover {
    color: #c0be35;
}

.header__content {
    justify-content: center;
    align-items: center;
    max-width: 728px;
    margin: 0 auto;
    padding-top: 261px;
}

.header__content h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 72px;
    text-align: center;
    font-weight: 200;
    text-shadow: 5px 5px 7px #c3bead;

}

.header__content p {
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    padding-top: 70px;
}

main {
    background-color: #962323;
    width: 100%;
    padding-top: 122px;
    padding-bottom: 122px;
}

.store_block {
    display: flex;
    overflow: hidden;
    justify-content: flex-start;
    align-items: center;
}

.store_foto {
    background-repeat: no-repeat;
}

.store_foto img {
    max-width: 100%;
}

.store__our {
    width: 504px;
    margin: 0 auto;
    text-align: center;
}

.clear {
    clear: both;
}

.store__our h2 {
    text-align: center;
}

.store__our p {
    text-align: center;
    padding-top: 94px;
}

/* рецепт */


.recept__foto {
    background-image: url(../img/bg_recipes.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    text-align: center;
}

.recept__foto p {
    width: 508px;
    margin: 0 auto;
    padding-top: 57px;
    padding-bottom: 80px;
}

.recept h2 {
    padding-top: 133px;
}

/*************** our-menu *******************/

.our-menu {
    color: black;
   
}

.our-menu h2 {
    text-align: center;
    padding-top: 120px;
}

.our-menu__bc {
    text-align: center;
}

.our-menu__text {
    margin-top: 154px;
}

.our-menu__item {

    position: relative;
    margin-bottom: 50px;
    display: inline-block;
}

.our-menu__item:nth-child(1n) {
    margin-right: 118px;
}

.our-menu__item h3 {
    font-size: 16px;
    text-transform: uppercase;
}

.our-menu__item p {
    font-size: 16px;
}

.our-menu__item .price {
    color: #c8235d;
    font-size: 16px;
}

.our-menu__item span {
    color: #c8235d;
    font-size: 16px;
    position: absolute;
    right: 2px;
}

/*************** FOOD *********************/

.food {
    margin-top: 126px;
    overflow: hidden;
}

.food_foto {
    display: flex;
    justify-content: space-between;
}

.item {
    width: 33.3333%;
}

.food_foto img {
    max-width: 100%;
    height: auto;
}

/******************* FOOTER ***************/

footer {
    height: 322px;
    width: 100%;
    padding-bottom: 3px;
    background-color: #25262a;
}

footer .logo {
    width: 260px;
    float: left;
}

footer p {
    font-size: 14px;
    line-height: 24px;
    padding-top: 30px;
}

.nav_footer-all {
    font-family: 'Roboto', sans-serif;
    padding-top: 67px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.nav_footer-all li:nth-child(1) {
    padding-bottom: 30px;
}

.nav_footer-all а {
    padding-top: 25px;
    font-size: 14px;
}

.nav_footer-all a:hover {
    color: rgb(179, 179, 179);
}

.contact_us img {
    padding-right: 2px;
}
.nav-list li a:hover {
    color: #f9f9f9;
    background: #757575;
}
.nav-menu{
    display: none;
  }

    /* Ноутбуки и т.д. */
@media (max-width: 992px){

}
    /* Планшеты  */
    @media (max-width: 768px){
        .logo{
            padding-top: 17px;
            font-size: 20px;
        }
        .header__content {
            padding-top: 23px;
        }
        .header__content p {
            padding-top: 27px;
            line-height: 28px;
        } 
        .footer_content .logo a{
            float: left;
            padding-right: 10px;
            text-align: center;
        }
        .header__top .menu{
            top: 17px;
            width: 100%;
        }
        .menu__list {
            display: none; /* пункты меню скрыты */
            background: rgba(13, 13, 13, 0.76);
            position: absolute;
            
				width: 100%;
				height: 100vh;
            text-align: center;
          }
          .menu__list li {
				display: block; /* пункты меню в строку */
				padding-top: 20px;
          }
          .menu__list li a{
            width: 100%;
            display: block;
            text-transform: uppercase;
          }
          .menuBurger {
            display: block; /* иконка гамбургер видна */
            float: right;
				cursor: pointer;
				z-index: 1;
   			 position: relative;
        }
        
        .baner {
            min-height: 386px;
        }
    
        .header__content h1 {
            font-size: 40px;
        }
        main {
            padding-top: 12px;
            padding-bottom: 12px;
        }
        .store_block {
            display: block;
            text-align: center;
        }
        .store__our h2 {
            padding-top: 13px;
        }
        .store__our p {
            line-height: 28px;
        }
        .store_foto img {
            width: 210px;
        }
        .recept h2 {
            padding-top: 44px;
        }
        .store__our p {
            padding-top: 45px;
        }

        .recept__foto p {
            padding-bottom: 44px;
            line-height: 28px;
            }

        .our-menu{
             width: auto;
        }
        .our-menu__item span {
            right: -38px;
            top: 0;
           }

        .our-menu__text {
            margin-top: 60px;
        }
        .our-menu h2 {
            padding-top: 22px;
        }
        .our-menu__item {
            margin:  0 auto;
            position: relative;
            margin-bottom: 50px;
            float: left;
        }
        footer {
            height: 265px;
        }
        .food {
            margin-top: 0;
        }
        .footer_content .logo{
            width: 100%;
            float: none;
        }
        .footer_content p{
            padding-top: 0;
        }
        .nav_footer-all{
            padding-top: 8px;
        }
       

}

@media (max-width: 581px){
 
}
    /*********** Смартфоны  ****************/
    @media (max-width: 480px){
        .store__our {
            width: auto;
        }
            .recept__foto p{
            width: auto;
        }
        h2 {
            font-size: 46px;
        }
            .our-menu {
            width: auto;
        }
        .our-menu__item p {
            font-size: 14px;
        }
        .our-menu__item span {
         right: -30px;
        }
    
         .our-menu__item {
            width: 90%;
            margin-bottom: 30px;
        }
        footer {
            height: 260px;
        }
         .nav_footer-all {
            display: block;
            padding-left: 20px;
    
        }
        .nav_footer-all li:nth-child(1) {
            padding-bottom: 1px;
        }
       .nav_footer-first{
            position: relative;
            cursor: pointer;
       }
        .nav_footer-first::before,
        .nav_footer-first::after{
            content: "";
            width: 10px;
            height: 2px;
            background-color: #d4d4d4;
            position: absolute;
            top: 14px;
    
            transition: all 0.3s ease 0s;
    
        }
        .nav_footer-first.active::before,
        .nav_footer-first.active::after{
            
        }
   
        .nav_footer-first::before{
            transform: rotate(40deg);
            left: -17px;
        }
        .nav_footer-first::after{
            transform: rotate(-40deg);
            left: -24px;
        }
        .nav_footer-text{
            display: none;
        }

        .nav_footer-first.active::before{
            transform: rotate(-40deg);
        }
        .nav_footer-first.active::after{
            transform: rotate(40deg);
        }

}
@media (max-width: 320px){
    .recept h2 {
        padding-top: 26px;
}